header{

    width: 100%;

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent !important;
        transition: .4s ease;
        z-index: 1000;
    }

    .navbar.scrolled{
        background: rgba(15,23,42,.95) !important;
        backdrop-filter: blur(10px);
        box-shadow: 0 10px 30px rgba(0,0,0,.20);
    }

    .navbar-brand{
        font-size: 1.8rem;
        font-weight: bold;
    }

    .nav-link{
        margin-left: 15px;
        transition: .3s;
    }

    .nav-link:hover{
        color: white;
    }

  @media (max-width: 991px){

    .navbar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #0F172A !important;
    }

    .navbar-collapse{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw !important;
        background: #0F172A !important;
        padding: 15px 20px !important;
        margin: 0 !important;
        border-radius: 0 0 10px 10px;
    }

    .navbar-nav{
        width: 100%;
        align-items: flex-start;
    }

    .nav-link{
        width: 100%;
        margin-left: 0 !important;
        padding: 12px 0 !important;
        color: #F8FAFC !important;
    }
}
}