@import "variables";
@import "mixins";
@import "extends";
@import "header";
@import "home";
@import "servicios";
@import "nosotros";
@import "proyectos";
@import "contacto";

body{
    background-color: $light-color;
    color: $text-color;
}

.stats{

    h3{
        color: $secondary-color;
        font-size: 3rem;
        font-weight: bold;
    }

    p{
        font-size: 1.1rem;
    }
}

